/*
Theme Name:        Twenty Eleven - JR Jr.
Theme URI:         https://github.com/jrcom/twentyeleven-jandrjr
Github Theme URI:  https://github.com/jrcom/twentyeleven-jandrjr
Description:       JR Junior theme for WordPress.
Author:            Scott Rossillo
Author URI:        http://www.jr.com/
Template:          twentyeleven
Version:           1.1.0
*/

@import url("../twentyeleven/style.css");
@import url("./yui3-3_5_1_grids-min.css");

/* Web Fonts */
@font-face {
    font-family: 'GillSansUltraBold';
    src: url('GillSansUltraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    /* foo */
}

/* Header */
#branding #searchform,
#only-search {
	display: none;
}

/* Entries */
.hentry, .no-results {
	border-bottom: none;
}

.hentry:last-child {
	border-bottom: none;
}

.hentry:after {
	display: block;
	content: '';
	height: 50px;
	width: 350px;
	background-image: url('leaf-divider.gif');
	background-position: center center;
	background-repeat: no-repeat;
	margin: 30px auto 0px auto;
}

.hentry:last-child:after {
	content: '';
	background: none;
	height: 0px;
}

h1.entry-title {
	font-family: "GillSansUltraBold";
	font-size: 20px;
	line-height: 24px;	
}

h1.entry-title a{
	color: #bf301a;	
}

.singular .entry-title {
	color: #bf301a;
	font-size: 20px;
	line-height: 24px;
}
 
/* Menu */
#access {
    background: #FBE96B; /* Show a solid color for older browsers */
    margin: 0 0 0 0;
}

#branding .only-search + #access div {
	padding-right: 0px !important; /* make the menu full width */
}

#access a {
	color: #000000;
	font-weight: bold;
	line-height: 3.0em;
	padding: 0 1.8em;
}

#access ul {
	font-size: 17px;
	margin: 0 0 0 -4.40em;
}

#access li.menu-item-color-1 {
	background-color: #00aac6;
}

#access li.menu-item-color-2 {
	background-color: #bf301a;
}

#access li:hover > a {
	color: black;
}

#access li.menu-item-color-0:hover > a {
	background: #FBE96B;
}

#access li.menu-item-color-1:hover > a {
	background: #00aac6;
}


#access li.menu-item-color-2:hover > a {
	background: #bf301a;
}

/* sub-menu style */
#access ul ul li:hover > a,
#access ul ul a:focus {
	background: #bf301a;
	color: #f9d84b;
}

#access ul ul {
	top: 3.0em; /* should match #access a line-height */
}

#access ul ul a {
	color: #000000;
	background: #FBE96B;
	line-height: 1.0em;
}

#access li:hover > a,
#access ul ul :hover > a,
#access a:focus {
	background-color: #bf301a;
}

/* Sidebar Widgets */

#secondary {
	/*background-color: #e2e2e2;*/
	margin-right: 1.4%;
	width: 24.0%;
}

.widget-title {
	color: #bf301a;
	font-size: 16px;
}

.widget ul li {
	list-style: none;
}


/* Footer */

#supplementary {
	background-color: #000000;
	border-top: none;
	color: #ffffff;
}

#site-generator {
	display: none;
}


/* Custom Content */
.storeInfo {
	border-left: 1px solid #ffffff;
	padding-left: 10px;
	height: 100%;
}

/* Responsive design elements */
@media (max-width: 800px) {
}

@media (max-width: 650px) {
}

@media (max-width: 450px) {
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

	.hentry, .no-results {
		border-bottom: 1px solid #dddddd;
	}
	
	.hentry:last-child {
		border-bottom: none;
	}

	.hentry:after {
		content: '';
		background: none;
		height: 0px;
	}

	#access ul {
		font-size: 13px;
	}
	
	#access a {
		padding:  0px 1.5em 0px 0px;
		float: none;
	}
}
